<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <userSettings>
        <ThirtyFour.UI.Properties.Settings>
            <setting name="DEFAULT_TIMEOUT_SECONDS" serializeAs="String">
                <value>5</value>
            </setting>
        </ThirtyFour.UI.Properties.Settings>
    </userSettings>
</configuration>